<!-- start custom head snippets -->

<meta name="description" content="{{ seo_description }}">
<meta name="author" content="{{ site.name }}">

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v=20161007">
<link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png?v=20161007" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png?v=20161007" sizes="16x16">
<link rel="manifest" href="/assets/images/manifest.json?v=20161007">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=20161007" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicon.ico?v=20161007">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
