---
layout: archive
author_profile: true
title:
---

{% if page.name == 'index1.html' and insta_image != true %}
  <div id="IG_topFigure">
    <h1 class="archive__subtitle IG_top">Instagram Feed</h1>
    <figure class="sixth" id="IG_topFigure"></figure>
  </div>
{% endif %}

<h1 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h1>

{% for post in paginator.posts %}
  {% include archive-single-main.html %}
{% endfor %}

{% if page.url == '/' and insta_image != true and site.url == 'fake.url' %}
  <h1 class="archive__subtitle">Instagram Feed</h1>
  <div id="IG_bottom">
      <figure class="sixth" id="IG_bottomFigure"></figure>
  </div>
{% endif %}

{% include paginator.html %}
